nav{
    background-color: rgb(52, 58, 64);
    height: 120px;
}
.content{
    margin: auto;
    width: 40%;
    margin-top: 20px ;
    text-align: center
}
.content i {
    float: left;
}
.content h2{  
    margin-top: 15px;
}

